services:
  app:
    image: php:8.4-cli
    working_dir: /var/www
    volumes:
      - .:/var/www
    ports:
      - "8000:8000"
    command: >
      sh -c "
        apt-get update &&
        apt-get install -y git unzip libzip-dev zip &&
        docker-php-ext-install pdo pdo_mysql zip &&
        php -r \"copy('https://getcomposer.org/installer', 'composer-setup.php');\" &&
        php composer-setup.php &&
        php -r \"unlink('composer-setup.php');\" &&
        php composer.phar install &&
        php artisan migrate --force &&
        php artisan serve --host=0.0.0.0 --port=8000
      "

  db:
    image: mysql:8
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
